<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SıcakKöşe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

    <link rel="stylesheet" href="/sogo-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sogo-master/css/animate.css">
    <link rel="stylesheet" href="/sogo-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/sogo-master/css/aos.css">
    <link rel="stylesheet" href="/sogo-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/sogo-master/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/sogo-master/css/fancybox.min.css">

    <link rel="stylesheet" href="/sogo-master/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/sogo-master/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/sogo-master/css/style.css">
</head>
<body>

    @Html.Partial("_HeaderPartialView")

    @RenderBody()

    @Html.Partial("_FooterPartialView")

    <script src="/sogo-master/js/jquery-3.3.1.min.js"></script>
    <script src="/sogo-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/sogo-master/js/popper.min.js"></script>
    <script src="/sogo-master/js/bootstrap.min.js"></script>
    <script src="/sogo-master/js/owl.carousel.min.js"></script>
    <script src="/sogo-master/js/jquery.stellar.min.js"></script>
    <script src="/sogo-master/js/jquery.fancybox.min.js"></script>


    <script src="/sogo-master/js/aos.js"></script>

    <script src="/sogo-master/js/bootstrap-datepicker.js"></script>
    <script src="/sogo-master/js/jquery.timepicker.min.js"></script>



    <script src="/sogo-master/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>